<header id="main-header">
    <div id="logo"><a href="/">Eatwell</a></div>
    <nav>
      <ul>
        <li class="nav-item">
          <a href="/restaurants">레스토랑 찾기</a>
        </li>
        <li class="nav-item">
          <a href="/recommend">레스토랑 공유</a>
        </li>
        <li class="nav-item"><a href="/about">Eatwell 소개</a></li>
      </ul>
    </nav>
    <button id="drawer-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </header>