<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %>
    <%- include("includes/aside") %>
    <main>
      <h1>페이지를 찾지 못하였습니다.</h1>
      <p>
        안타깝게도 이 페이지를 찾을 수 없습니다...
      </p>
    </main>
  </body>
</html>