<!-- 서버에서 문제가 발생했을때 500페이지 응답 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %>
    <%- include("includes/aside") %>
    <main>
      <h1>서버에 오류가 발생하였습니다.</h1>
      <p>
        충돌로 인하여 서버측에 오류가 발생하였습니다.
        최대한 빨리 해결하기 위해 최선을 다하고 있습니다!
      </p>
    </main>
  </body>
</html>