<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %>
    <%- include("includes/aside") %>
    <main>
      <h1>세상을 맛있는 곳으로 만들어 주세요</h1>
      <p>
        Eatwell은 음식 애호가들을 위한 웹사이트로, 공유와
        전세계에서 놀라운 레스토랑을 발견하세요!
      </p>
      <p>
        가입하거나 계정을 만들 필요가 없습니다. 간단히 시작할 수 있습니다
        바로 공유!
      </p>
    </main>
  </body>
</html>