<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %>
    <%- include("includes/aside") %>
    <main>
      <h1>성공!</h1>
      <p>귀하의 레스토랑이 저희 목록에 성공적으로 추가되었습니다!</p>
    </main>
  </body>
</html>