<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eatwell - Make The World A Tastier Place</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <script src="scripts/responsive.js" defer></script>
  </head>
  <body>
    <header id="main-header">
      <div id="logo"><a href="/">Eatwell</a></div>
      <nav>
        <ul>
          <li class="nav-item"><a href="/restaurants">레스토랑 찾아보기</a></li>
          <li class="nav-item"><a href="/recommend">레스토랑 공유</a></li>
          <li class="nav-item"><a href="/about">Eatwell 소개</a></li>
        </ul>
      </nav>
      <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
    <aside id="mobile-drawer">
      <nav>
        <ul>
          <li class="nav-item"><a href="/restaurants">레스토랑 찾기</a></li>
          <li class="nav-item"><a href="/recommend">레스토랑 공유</a></li>
          <li class="nav-item"><a href="/about">Eatwell 소개</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <h1>세상을 더 맛있는 곳으로 만들어 줘요!</h1>
      <p>
        좋아하는 레스토랑을 공유하거나 다른 사용자의 추천을 찾으세요!
      </p>
      <ul id="actions">
        <li>
          <a href="/restaurants">공유 레스토랑 찾아보기</a>
        </li>
        <li>
          <a href="/recommend">마음에 드는 레스토랑 공유</a>
        </li>
      </ul>
    </main>
  </body>
</html>
