<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <%- include("includes/header") %>
    <%- include("includes/aside") %>
    <main>
      <h1>세상을 더 맛있는 곳으로 만들어 줘요!</h1>
      <p>
        좋아하는 레스토랑을 공유하거나 다른 사용자의 추천을 찾으세요!
      </p>
      <ul id="actions">
        <li>
          <a href="/restaurants">공유 레스토랑 찾아보기</a>
        </li>
        <li>
          <a href="/recommend">마음에 드는 레스토랑 공유</a>
        </li>
      </ul>
    </main>
  </body>
</html>
